<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valida NIF</title>
</head>
<body>
    <h1>NIF Validator</h1>
    <hr>
    <form method="POST">
        <input name="text", placeholder="NIF">
        <input type="submit">
    </form>

    {{ result }}
    
</body>
</html>
